.container {
  min-height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem 1rem;
  }

  .container section {
    grid-template-columns: 1fr;
    gap: 2rem;
    align-content: start;
    padding-bottom: 2rem;
  }
}